.dossiers-headers.sub-header
  .container
    %h1.page-title Ajouter une Famille

.dossier-edit.container
  = form_for @parent,
    url: familles_familles_path,
    multipart: true,
    html: { class: 'form' } do |f|
    = f.label :nom_famille_id do
      Nom de famille
      = f.select :famille_id,
       @famille.map { |number| [number.nom, number.id]},
       {include_blank: true},
        required: true
    
    .text-right
      = f.button 'Enregistrer', class: 'button primary send'

  = form_for @parent,
    url: familles_create_parent_path(@famille),
    html: { class: 'form' } do |f|
    .editable-champ.editable-champ-repetition
      %h3.header-subsection Les parents
      %div{ class: "row row" }
        %div{ class: "repetition-#{f.index}" }
          %h3.header-subsection Père
          %div{ class: "row row" }
            = f.label :prenom_pere do
              Prénom
              = f.text_field :prenom_pere, placeholder: 'Prénom du père', required: true

              = f.label :annee_naissance_pere do
                Date de naissance
                = f.date_field :annee_naissance_pere,
                  placeholder: 'aaaa-mm-jj'
        
        %div{ class: "repetition-#{f.index}" }
          %h3.header-subsection Mère
          %div{ class: "row row" }
            = f.label :prenom_mere do
              Prénom
              = f.text_field :prenom_mere, placeholder: 'Prénom de la mère', required: true

              = f.label :annee_naissance_mere do
                Date de naissance
                = f.date_field :annee_naissance_mere,
                  placeholder: 'aaaa-mm-jj'

        .text-right
          = f.button 'Enregistrer', class: 'button primary send'

  = form_for @enfant,
    url: familles_create_enfant_path(@famille),
    html: { class: 'form' } do |f|
    .editable-champ.editable-champ-repetition
      %h3.header-subsection Les enfants
      %div{ class: "row row" }
        %div{ class: "repetition-#{f.index}" }
          = f.label :prenom do
            Prénom
            = f.text_field :prenom, placeholder: 'Prénom de l\'enfant', required: true

            = f.label :annee_naissance do
              Date de naissance
              = f.date_field :annee_naissance,
                placeholder: 'aaaa-mm-jj'

        .text-right
          = f.button 'Enregistrer', class: 'button primary send'
